---
layout: default
---
<div class="book-detail">
  <div class="cover" style='background-image: url("/img/covers/{{ page.cover }}");'></div>
  <br/>
  <div class="description">
    <div class="titleblock">
      <h1 class="title">{{ page.title }}</h1>
      <span class="author">by {{ page.author }}</span>
    </div>
    <div class="buyblock">
      Get it on: {% for store in page.stores %}
        {% assign storedat = site.stores[store.id] %}
        <a class="storelink" href="{{ store.url }}">
          <img src="{{ site.baseurl }}/{{ storedat.icon }}"/> {{ storedat.name }}
        </a>
      {% endfor %}
    </div>
    <div class="desctext">
      {{ page.content }}
    </div>
  </div>
</div>
